/* CSS HSL */
--celadon-blue: hsla(196, 100%, 34%, 1);
--cyan-process: hsla(196, 100%, 45%, 1);
--vivid-sky-blue: hsla(196, 100%, 59%, 1);
--oxford-blue: hsla(215, 61%, 16%, 1);
--oxford-blue-2: hsla(209, 100%, 8%, 1);

body {
    background-color: rgb(3, 66, 86);
    margin: 0;
}

.title {
    background-color:hsl(194, 70%, 16%);
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 26px 28px 26px 28px;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 36px 48px 36px 48px;
    gap: 24px;
}

button {
    height: 64px;
    width: 128px;
    background-color: honeydew;
    font-size: 24px;
}